.ContainerEmpresa{
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}
.Titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
.SaudacaoEmpresa{
    color: #fff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.ContentEmpresa{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.BoxEmpresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1b1b1b;
    padding: 20px 10px;
    width: 65%;
    height: auto;
    border-radius: 30px;
}
.List{
    display: flex;
    margin: 0;
    gap: 30px;
    padding: 20px 40px;
    list-style: none;
    border-bottom: #4956E6 solid 2px;
}
.PerguntaEmpresa{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.BtnEmpresa{
    background: #4956E6;
    background: linear-gradient(25deg, rgba(73, 86, 230, 1) 0%, rgba(18, 26, 89, 1) 100%);
    padding: 15px 30px;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    width: auto;
}
.BtnEmpresa:hover{
    transform: scale(1.05);
}
.BoxDescricao{
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
    height: auto;
    justify-content: center;
    width: 1050px;
    background: #111;
    border-radius: 15px;
    margin: 15px;
}
.TituloDesc{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.TextoDesc{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}